.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  flex-basis: 10vh;
}

main {
  flex-basis: 85vh;
}

footer {
  flex-basis: 5vh;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
